@model WalmartManagementApplication.Models.membership_cards

@{
    Layout = "~/Views/Shared/_employeelayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm("Edit", "membership_cards", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>EDIT</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.cardnumber)
    
            <div class="form-group">
                @Html.LabelFor(model => model.cardholdernname,"Card Holder Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cardholdernname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cardholdernname, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.photo,"Photo", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <img height="80" src="@Url.Content(Model.photo)" />
                    <div>
                        <input type="file" id="photo" name="photo" accept="image/*" />
                        @Html.Hidden("photo", Model.photo)
                        <br />
                        <br />
                    </div>
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(model => model.Mobileno,"Mobile No.", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Mobileno, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Mobileno, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.address,"Address", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                    </div>
                </div>
                 <div class="form-group">
                    @Html.LabelFor(model => model.memberid,"Member ID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.memberid, new { htmlAttributes = new { @class = "form-control" } })
                                 @Html.HiddenFor(model => model.memberid)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
            </div>
    }
    
    <div>
        
    </div>
</body>
</html>
