@model WalmartManagementApplication.Models.feedback
@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<h2>feedback</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Feedback Form</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ftext, "Your Feedback", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ftext, new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.ftext, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.cardnumber, "Enter Your Card Number", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.cardnumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.cardnumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit Feedback" class="btn btn-default" />
            </div>
        </div>
    </div>


}