@model WalmartManagementApplication.Models.subcategory

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>subcategory</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.subcategory1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.subcategory1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.category1.categoryname)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.category1.categoryname)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        
    </p>
</body>
</html>
